*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navegacionheader{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    flex-wrap: wrap;
}
.navegacionheader button{
    cursor: all-scroll;
    background-color: black;
    color: whitesmoke;
    border-radius: 5px;
    padding: 5px;
    font-family: "Roboto Light";
}
